<html>
  <head></head>
  <body>
    <p><%= s_w %></p>
  	<form method="POST" action="/">
  		<input type="text" name="letter">
  		<input type="submit" value="Enter letter">
  	</form>
    <p><%= wrong_letters %></p>
  </body>
</html>