<html>
  <head><link rel="stylesheet" href="/css/styles.css"></head>
  <body>
  	<h1>YOU LOSE!!!<br>YOU GET NOTHING<br>GOOD DAY SIR!</h1>
  	  	<p>(The word was "<%= secret_word %>")</p>
  	 <div id='newgame'>
      <a href='/newgame'>New Game</a>
    </div>
  </body>
</html>