#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

#gallows {
	width: 100%;
}

#letter_area {
  width: 10%;
}

#word {
	margin: auto;
	width: 50%;
	text-align: center;
	font-size:30px;
}

#wrongletters {
	margin: auto;
	width: 50%;
    text-align: center
}

#letterbox {
	margin: auto;
	width: 50%;
	text-align: center;
}

#newgame {
  margin: auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  background-color: #799ab7;
  width: 10%;
  border-radius: 10px;
}

a {
	color: white;
	text-decoration: none;
    font-family: Helvetica;
}

p {
	text-align: center;
	font-family: Helvetica;
}

h1 {
  text-align: center;
  font-family: Helvetica;
}